<%- include("partials/header")  -%>
<h1>Home</h1>
<p> <%= paragraph %></p>
<% post.forEach(function(title){ %>
  <h1>  <%= title.titleText %>  </h1>
  <p> <%= title.postText.substring(0,100) + "..." %> <a href="/posts/<%= title.titleText %>">Read More</a>
</p>
<% }) %>
<%- include("partials/footer") -%>
